<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cards Game!</title>
  <script src="../../game.js"></script>
  <script src="../../card_stack.js"></script>
  <script src="../../players.js"></script>
  <script src="../../game_tutorial.js"></script>
  <script src="../../leaderboard.js"></script>
  <script src="../../audio.js" defer></script>
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <!-- Halfmoon CSS -->
  <link href="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.1/css/halfmoon.min.css" rel="stylesheet" />

  <!-- Halfmoon JS -->
  <script src="https://cdn.jsdelivr.net/gh/halfmoonui/halfmoon@1.0.1/js/halfmoon.min.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body id="body">
  <img id="play" src="/assets/play.png"  style="width: 50px; z-index:1; position: absolute;">
  <button id="myBtn" class="btn" style="height: 50px; left: 70px;z-index:1; position: absolute;">How to play</button>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>How to play</h2>
      </div>
      <h4>Objective</h4>
      <p>In Hafte cards, card game players are required to get rid of all their cards before others. The game is played
        with a standard 52 card deck.</p>
      <h4>Setup</h4>
      <p><b>Player</b> - At the begining the two players are dealt 7 cards each. The players can see their own cards.
      </p>
      <p><b>Top Stack</b> - One card is dealt face-up onto the current card stack pile.</p>
      <p><b>Used Pile</b> - Remaining cards are set aside, resulting in a stock pile.</p>
      <h4>Gameplay</h4>
      <ul>
        <li>In each turn player is supposed to discard one card. If player has no matching card to throw,
          he/she must pick a card from the stock pile.</li>
        <li>Player can discard a card only if it matches either the rank or the suit of the top card in the waste pile.
        </li>
        <li>Each turn, the stock pile is shuffled</li>
      </ul>
      <p>The game ends as soon as any player has discarded all of his/her cards.</p>
      <h4>Controls</h4>
      <ul>
        <li>To play a card,click one of your cards once.</li>
        <li>To draw a new card, click on the backfacing card next to the visible top card</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div id="parent_canvas" class="column left" style="height: 100vh;">
      <canvas id="main_canvas_view" width="" height=""></canvas>
    </div>
    <div id="messages_section" class="column right">
      <ul id="messages"></ul>
      <form action="/" method="POST" id="chatForm">
        <div class="row">
        <input class="form-control" id="txt" autocomplete="off" autofocus="on" oninput=""
          placeholder="type your message here..." />
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>